<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Taset - Logistic & Transportation HTML Template"/>
    <meta name="keywords" content="Logistic, Moving Company, Transportation, business, Transport, Cargo Delivery"/>
    <meta name="author" content="Codecarnival"/>

    <title>服务 - UPS </title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <!--== Icofont CSS ==-->
    <link href="../static/css/icofont.css" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="../static/css/swiper.min.css" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="../static/css/style_homepage.css" rel="stylesheet" />

</head>

<body>

<!--wrapper start-->
<div class="wrapper page-service-wrapper">

  <!--== Start Header Wrapper ==-->
  <div class="wrapper home-default-wrapper">

    <!--== Start Header Wrapper ==-->
    <header class="header-wrapper">
      <div class="header-area header-default header-transparent sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-4 col-sm-6 col-lg-2">
              <div class="header-logo-area">
                <a href="/ups/home">
                  <img class="logo-main" src="../static/img/ups-logo-wo-text.svg" alt="Logo" width="161" height="24" />
                  <img class="logo-light" src="../static/img/ups-logo-wo-text.svg" alt="Logo" width="161" height="24" />
                </a>
              </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
              <div class="header-navigation-area">
                <ul class="main-menu nav position-relative">
                  <li><a href="/ups/home_cn">主页</a></li>
                  <li class="has-submenu"><a href="/ups/services_cn">服务</a></li>
                  <li><a href="/ups/teams_cn">团队成员</a></li>
                  <li><a href="/ups/feedback_cn">反馈</a></li>
                </ul>
              </div>
            </div>
            <div class="col-8 col-sm-6 col-lg-3">
              <div class="header-action-area">
                <div class="header-lang-dropdown">
                  <button type="button" class="btn-lang dropdown-toggle" id="dropdownLang" data-bs-toggle="dropdown" aria-expanded="false">中文</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li class="dropdown-item active"><a href="/ups/services">EN</a></li>
                  </ul>
                </div>
                <div class="header-action-btn">
                  <a class="btn-theme" href="/ups/login_cn"><span>登录</span></a>
                </div>
                <button class="btn-menu d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <span class="icon-line"></span>
                  <span class="icon-line"></span>
                  <span class="icon-line"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg2.webp">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 m-auto">
            <div class="page-title-content text-center">
              <h2 class="title">所有服务</h2>
              <div class="bread-crumbs"><a href="/ups/home_cn"> 主页 </a><span class="breadcrumb-sep"> // </span><span class="active"> 服务</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-overlay3"></div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Service Area Wrapper ==-->
    <section class="service-area service-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/register.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">注册</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/login.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">登录</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/logout.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">登出</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/profile.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">个人信息</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/package-history.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">包裹历史</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/change-address.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">改变地址</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/email.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">改地址时，改密码时，忘记密码时有邮件提示</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/search-packages.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">搜索包裹</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/contactadm.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">联系UPS的管理员</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/chatting.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">和管理员收发信息</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/manageusers.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">管理员可以管理用户发来的信息</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/changeColor.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">改变页面主题</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/changelanguage.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">改变语言</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/changepassword.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">改密码</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/forgetpass.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">忘记密码</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Service Item -->
            <div class="service-item">
              <div class="thumb">
                <img src="../static/img/service/feedback.jpg" alt="Image" width="270" height="308">
              </div>
              <div class="content">
                <h4 class="title">提供反馈</h4>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </div>
    </section>
    <!--== End Service Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-2 col-xl-2">
            <div class="widget-item ml-35 lg-ml-0">
              <h4 class="widget-title">关注我们</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-4">Follow Us</h4>
              <div id="dividerId-4" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap">
                  <ul class="nav-menu nav">
                    <li><a href="https://www.facebook.com/ups/"><i class="icofont-minus"></i>Facebook</a></li>
                    <li><a href="https://twitter.com/UPS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="icofont-minus"></i>Twitter</a></li>
                    <li><a href="https://www.instagram.com/ups/?hl=en"><i class="icofont-minus"></i>Instragram</a></li>
                    <li><a href="https://www.youtube.com/UPS"><i class="icofont-minus"></i>Youtube</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-shape bg-img" data-bg-img="assets/img/photos/footer1.webp"></div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row">
            <div class="col-md-12">
              <div class="widget-copyright">
                <p>© 版权 2022 <span>Mini-UPS</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-rounded-double-left icofont-rotate-90"></span></div>

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-area offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- Start Mobile Menu Wrapper -->
      <div class="res-mobile-menu">
        <nav id="offcanvasNav" class="offcanvas-menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="color-theme" href="javascript:void(0)">Services</a>
              <ul>
                <li><a href="services.html">Services</a></li>
                <li><a href="service-details.html">Service Details</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)">Portfolio</a>
              <ul>
                <li><a href="projects.html">Portfolio</a></li>
                <li><a href="project-details.html">Portfolio Details</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)">Pages</a>
              <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="coming-soon.html">Coming soon</a></li>
                <li><a href="page-not-found.html">404</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)">Blog</a>
              <ul>
                <li><a href="blog.html">Blog 3 Column</a></li>
                <li><a href="blog-4-column.html">Blog 4 Column</a></li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                <li><a href="blog.html">Blog No Sidebar</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- End Mobile Menu Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="../static/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="../static/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="../static/js/jquery-migrate.js"></script>
<!--=== Popper Min Js ===-->
<script src="../static/js/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="../static/js/bootstrap.min.js"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="../static/js/swiper.min.js"></script>
<!--=== jquery Countdown Js ===-->
<script src="../static/js/jquery.countdown.min.js"></script>
<!--=== Isotope Min Js ===-->
<script src="../static/js/isotope.pkgd.min.js"></script>

<!--=== Custom Js ===-->
<script src="../static/js/custom.js"></script>

</body>

</html>